@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  background-color: rgb(24,25,26);
  color: white;
  padding: 0% 3%;
  font-family: 'IBM Plex Mono', monospace;
}

header{
  display: flex;
}

.header-item{
  flex: 1;
  display: flex;
  justify-content: center;
}

.header-item:first-child > span { margin-right: auto; }

.header-item:last-child  > span { margin-left: auto;  }

nav ul{
  display: flex;  
}

nav li:hover{
  transform: translateY(-3px);
  transition-duration: 0.2s;
}


a{
  text-decoration: none;
  color: white;
}

nav a.active{
  color: red;
}

a:hover{
  color: red;  
}

@keyframes rotate
{
0%   {}
100% {transform: rotateY(-360deg);}
}
@-webkit-keyframes rotate
{
0%   {}
100% {-webkit-transform: rotate(-360deg);}
}

.donut-icon{
  animation: rotate 10s linear infinite; 
}

.donut-icon:hover{
  cursor: pointer;
}


header h1, .donut-icon{
  margin-top: 20px;
}

/* --------------- TYPOGRAPHY ---------------*/

header h1 {
  font-size: 3em;
}

h2{
  text-align: center;
  padding: 1%;
}

/* --------------- TABLE ---------------*/

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: rgb(32, 34, 35);
  font-weight: bold;
  text-transform: uppercase;
}

tr:hover {
  background-color: #524f4f;
}



/* CLASSES */

/* --------------------------- FORMS ---------------------*/
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'IBM Plex Mono', monospace;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  margin: 1% 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

.submit-button {
  padding: 10px;
  background-color: #008cba;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 1%;
}

.submit-button:hover {
  background-color: #0f24be;
}

.new-existing-customers-form{
  display: flex;
  flex-direction: column;
}


/* -------------------------- HOME PAGE ------------------------ */

.homepage-about{
  width: 50%;
  margin: auto;
  padding: 2% 2% 0 2%;
  line-height: 2.5rem;
}

.homepage-image-container{
  display: flex;
  justify-content: space-around;
  padding: 1% 1% 3% 1%;
}

.homepage-image-container h3{
  text-align: center;
  margin-bottom: 2%;
}

.homepage-divider{
  margin: 2% 0;
}




/* GLOBAL CLASSES */

.edit-row-icon:hover{
  color: green;
  cursor: pointer;
  
}

.delete-row-icon:hover{
  color: red;
  cursor: pointer;
}